.main
{width:1330px;
height:1200px;
border-style:groove;
background-image:url('shivjee1.jpg');
background-size:cover;
}
.main h1{color:red;margin-top:5px;margin-left:550px;font-size:60px;}
.head{
width:200px;
height:200px;
border-style:groove;
background-image:url('shivjee.jpg');
background-size:cover;
margin-top:70px;
position:absolute;left:10px;}
.left
{width:400px;
height:800px;
border-style:groove;
position:absolute;right:10px;}
.left p{color:yellow;font-size:30px;}
.name{position:absolute;left:250px;margin-top:110px;font-size:25px;color:black;}
.link{width:140px;height:40px;background-color:red;margin-top:400px;font-size:30px;position:absolute;left:180px;}
.link2{width:80px;height:40px;background-color:red;margin-top:400px;font-size:30px;position:absolute;left:400px;}
.line{margin-top:600px;font-size:20px;position:absolute;left:50px;}
.names{width:1300px;height:80px;border-style:groove;background-color:blue;font-size:25px;margin-top:995px;position:absolute;left:20px;position:absolute;right:2px;}

